.popup {
  height: 90vh;
  width: 100%;
  position: fixed;
  top: 8%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
  .popup {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 95%;
  height: 80vh;
  background-color: #fff;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: table;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0.25);
  transform: translate(-50%, -50%) scale(0.25);
  -webkit-transition: all 0.5s 0.2s;
  transition: all 0.5s 0.2s;
}
.popup__left {
  width: 45%;
  display: table-cell;
  background-image: url(../../img/nat-8a.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
.popup__right {
  width: 60%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 8rem 5rem;
}
@media (min-width: 26em) {
  .popup__right {
    width: 60%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 3rem 1rem;
  }
}
.popup__center {
  width: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 3rem 5rem;
}
.popup__img {
  display: block;
  align-items: center;
  width: 100%;
}
.popup__text {
  font-size: 1.4rem;
  margin-bottom: 4rem;
  -moz-column-count: 2;
  -moz-column-gap: 4rem;
  -moz-column-rule: 1px solid #eee;
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 4rem;
  column-gap: 4rem;
  -webkit-column-rule: 1px solid #eee;
  column-rule: 1px solid #eee;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}
.popup__close:link,
.popup__close:visited {
  color: #777;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  line-height: 1rem;
  margin-bottom: 1rem;
}
.popup__close:hover {
  color: #c0d175;
}

.popup__navigation {
  text-align: center;
  padding-top: 2rem;
  display: inline-block;
}
@media only screen and (max-width: 56.25em) {
  .popup__navigation {
    width: 100%;
    text-align: center;
  }
}
.popup__list {
  list-style: none;
}
.popup__item {
  display: inline-block;
}
.popup__item:not(:last-child) {
  margin-right: 1.5rem;
}
.popup__link:link,
.popup__link:visited {
  color: #e4628b;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
