.profile{width:75%;
margin:0 auto;
-webkit-box-shadow:0 3rem 6rem rgba(0,0,0,.1);
box-shadow:0 3rem 6rem rgba(0,0,0,.1);
background-color:rgba(255,255,255,.5);
border-radius:3px;
padding:6rem;
padding-left:9rem;
font-size:1.6rem;
-webkit-transform:skewX(-12deg);
transform:skewX(-12deg)}
.section-stories{position:relative;height:700px;
padding:15rem 0}
@media only screen and (max-width:56.25em){.section-stories{padding:10rem 0}}
@media only screen and (max-width:56.25em){.profile{width:100%;
padding:4rem;
padding-left:7rem}}
@media only screen and (max-width:37.5em){.profile{-webkit-transform:skewX(0);
transform:skewX(0)}}
.profile__title{
  text-align: center;
  letter-spacing: 4rem;
  margin: 10rem auto 6rem;
  /* width: 100%; */
  font-size:6rem;
text-transform:uppercase;
font-weight:700;
display:inline-block;
background-image:gradient(linear,left top,right top,from(#f040e7),to(#acdd52));
background-image:linear-gradient(to right,#acdd52,#db7bf3);
background-clip:text;
-webkit-background-clip:text;
color:transparent;
letter-spacing:.2rem;
-webkit-transition:all .2s;
transition:all .2s
}

.profile__title:hover{-webkit-transform:skewY(2deg) skewX(15deg) scale(1.1);
transform:skewY(2deg) skewX(15deg) scale(1.1);
text-shadow:.5rem 1rem 2rem rgba(0,0,0,.2)}
.profile__shape{width:15rem;
height:15rem;
float:left;
-webkit-transform:translateX(-3rem) skewX(12deg);
transform:translateX(-3rem) skewX(12deg);
position:relative;
overflow:hidden;
border-radius:50%}
@supports (-webkit-clip-path:polygon(0 0)) or (clip-path:polygon(0 0)) or (-webkit-clip-path:polygon(0 0)){
  .profile__shape{-webkit-clip-path:circle(50% at 50% 50%);
clip-path:circle(100% at 50% 50%);
-webkit-shape-outside:circle(50% at 50% 50%);
shape-outside:circle(50% at 50% 50%);
border-radius:none}}
@media only screen and (max-width:37.5em){
  .profile__shape{-webkit-transform:translateX(-3rem) skewX(0);
transform:translateX(-3rem) skewX(0)}}
.profile__img{height:100%;
-webkit-transform:translateX(2rem) scale(1.4);
transform:translateX(2rem) scale(1.4);
-webkit-backface-visibility:hidden;
backface-visibility:hidden;
-webkit-transition:all .5s;
background-position: top;
transition:all .5s}
.profile__text {-webkit-transform:skewX(12deg);
  color:#333;
transform:skewX(12deg)}
@media only screen and (max-width:37.5em){.profile__text{-webkit-transform:skewX(0);color:#333;
transform:skewX(0)}}
/* .profile__caption{position:absolute;
top:50%;
left:50%;
-webkit-transform:translate(-50%,20%);
transform:translate(-50%,20%);
color:#fff;
text-transform:uppercase;
font-size:1.7rem;
text-align:center;
opacity:0;
-webkit-transition:all .5s;
transition:all .5s;
-webkit-backface-visibility:hidden;
backface-visibility:hidden} */
/* .profile:hover .profile__caption{opacity:1;
-webkit-transform:translate(-50%,-50%);
transform:translate(-50%,-50%)} */
.profile:hover .profile__img{-webkit-transform:translateX(-4rem) scale(1);
transform:translateX(-4rem) scale(1);
-webkit-filter:blur(3px) brightness(80%);
filter:blur(3px) brightness(50%)}
.footer{background-color:#333;
padding:10rem 0;
font-size:1.4rem;
color:#f7f7f7}

bg-mobile__content{height:100%;
width:100%;
-o-object-fit:cover;
object-fit:cover}
.bg-mobile{
background-image:url(../../img/video-mobile.jpg);
background-size:cover ;
background-position:center;
position:absolute;
top:0;
left:0;
height:100%;
width:100%;
z-index:-1;
overflow:hidden
}
.bg-mobile__content{
height:100%;
width:100%;
-o-object-fit:cover;
object-fit:cover
}
@media(min-width:414px){
.bg-mobile{display:none}}
.bg-video{display:none}
@media(min-width:26em){
.bg-video{
display:block;
position:absolute;
top:0;
left:0;
height:100%;
width:100%;
z-index:-1;
overflow:hidden}
.bg-video__content{
  height:100%;
width:100%;
-o-object-fit:cover;
object-fit:cover}}
